.section2 {
    background: url(../img/section3.jpeg) center/cover;
    color: $white;
    height: 700px;
    padding: 70px 0;

    .header-text {
        


     
        
        h2 {
            text-transform: uppercase;
            font-size: 2.5rem;

            i {
                font-size: 3rem;
            }
        }

        h6 {
            text-transform: uppercase;
            color: rgb(255, 0, 0);
            font-size: 1.1rem;
            letter-spacing: 3px;
            font-family: $font1;
            margin-left: 25px;
            
          
        }

        h4 {
            margin-left: 20px;
        }
    }
}