@font-face {
    font-family: "RobotoB";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RobotoL";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "RobotoM";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoR";
    src: url(../fonts/Roboto-Regular.ttf);
}

$font1: "RobotoB", serif; 
$font2: "RobotoL", serif;
$font3: "RobotoM", serif;
$font4: "RobotoR", serif;
$white: white;
$black: black;
$grey: rgb(157,156,161);
$blue: #2997ff;
$blue2: #06c;
$grey2: rgb(97,97,100);


@mixin centerChild ($space){
display: flex;
justify-content: $space;
align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    cursor: pointer;

   
}

i {
    cursor: pointer;
    
}

body {
    font-family: $font4;
    text-align: center;
   
}


a {
    text-decoration: none;
    color: $blue;
    position: relative;
    font-size: 1.1rem;


 &:hover {
      text-decoration: underline;
        

 }

}


h6 {
    font-size: 0.9rem;
}


.liens {
a {
    margin: 80px 10px;
    font-family: $font2;

}

i {
    color: $blue;
    font-size: 0.7rem;
}



}


.header-text {
    max-width: 1100px;
    margin: 0 auto;
    height: 300px;


    h2 {
        font-size: 2.8rem;
    
    }
   
    h4 {
        font-size: 1.5rem;
        font-weight: 500;    
        padding: 20px 25px;
    
            
    }

 }


